<h1>Log In:</h1>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
Name:<%= text_field_tag :'name' %>
Password:<%= text_field_tag :'password' %>
<%= submit_tag "Submit" %>
<% end %>
